:root {
  --light-beige: #FCF8F3;
  --beige: #FBEAD0;
  --light-forest-green: #285C62;
  --forest-green: #1E4A57;
  --dark-forest-green: #112A31;
  --golden: #F6BB5B;
  --teal: #077683;
  --sans-serif: "sofia-pro", sans-serif;
  --hand: "professor", sans-serif;
}

.not-scrollable{
  overflow-y: hidden;
  height: 100vh;
} 

.person-wrap{
  overflow: scroll;
}

body{
  font-family: var(--sans-serif);
  letter-spacing: -0.4px;
  background: var(--light-beige);
}

html{
  scroll-behavior: smooth;
}

h1{
  color: var(--forest-green, #1E4A57);
  font-family: var(--sans-serif);
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 8px;
  margin-top: 0;
}

h2{
  margin: 0;
  color: var(--dark-forest-green);
  font-family: var(--sans-serif);
  font-weight: 400;
}


h3{
  font-size: 1.25rem;
}

.hand{
  font-family: var(--hand);
}

.hand-title{
  font-family: var(--hand);
  font-size: 2rem;
  color: var(--teal);
  margin-bottom: -1rem;
}


h4{
  color: var(--dark-forest-green, #112A31);
  font-family: var(--sans-serif);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: .75rem;
}

h5{
  color: var(--dark-forest-green, #112A31);
  font-family: var(--sans-serif);
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 0;
}

p{
  color: var(--light-forest-green, #285C62);
  font-size: 1.25rem;
  font-weight: 400;
  font-family: var(--sans-serif);
  font-style: normal;
  margin: 0;
  margin-bottom: 16px;
  line-height: 1.5;
}

.link{
  color: var(--link-button, #077683);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px solid;
  width: fit-content;
  /* font-family: 'cronos-pro-caption', sans-serif; */
  margin-bottom: 16px;
  line-height: 1;
}

.link:hover{
  background-color: #07768318;
}

.button-wrap{
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.button-primary{
  padding: 10px 20px 12px;
  background-color: var(--forest-green);
  color: var(--light-beige);
  font-size: 1.1rem;
  font-family: var(--sans-serif);
  border-radius: 3rem;
  text-decoration: none;
  transition: all .1s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.button-primary:hover, .button-secondary:hover{
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
}

.button-primary:active, .button-secondary:active{
  transform: translateY(2px);
}

.button-secondary{
  padding: 10px 20px 12px;
  background-color: var(--light-beige);
  color: var(--forest-green);
  border: 2px solid var(--forest-green);
  font-size: 1.1rem;
  font-family: var(--sans-serif);
  border-radius: 3rem;
  text-decoration: none;
  transition: all .1s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.button-primary > img, .button-secondary > img{
  margin-bottom: -2px;
}

.link-icon{
  width: 1.1rem;
}

hr{
  border: 1px inset rgba(0, 0, 0, 0.1);
  margin: 30px 0;
}

nav{
  width: 100%;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.nav-title, .nav-title > h3{
  margin: 0;
  text-decoration: none;
  color: var(--teal);
  font-size: 1.5rem;
}

.nav-title > h3 > .hand{
  font-size: 1.6rem;
  padding-right: 5px;
}

.menu-wrap{
  display: flex;
  justify-content: end;
  padding-right: 2.5rem;
  position: sticky;
  top: 0;
  margin-top: -1rem;
  z-index: 1;
  padding-top: 1.5rem;
}

.menu-button{
  background: var(--light-beige);
  color: var(--light-forest-green);
  border-radius: 4rem;
  padding: .5rem 1.2rem .65rem;
  font-family: var(--sans-serif);
  font-weight: 600;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: baseline;
  border: 2px solid var(--forest-green);
}

.menu{
  display: flex;
  flex-direction: column;
  background: var(--light-beige);
  width: fit-content;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: .75rem 0;
  position: absolute;
  right: 3.5rem;
  top: 4.5rem;
  z-index: 10;
}

.menu-closed{
  visibility: hidden;
}

.menu > a{
  color: var(--light-forest-green);
  font-size: 1.25rem;
  padding: .75rem 1rem;
  margin: 0;
  text-decoration: none;
  border: none;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 570px) {
  nav{
    flex-direction: column;
  }

  .nav-links-wrap{
    display: flex;
    justify-content: center;
    margin-top: 8px;
  }

  .nav-title{
    text-align: center;
  }

  .menu-wrap{
    justify-content: center;
    padding-right: 0;
    margin-bottom: 2rem;
  }

  .menu{
    right: unset;
  }
}

.nav-link, .nav-link:visited, .nav-link:active{
  font-size: 1.2rem;
  font-weight: 600;
  font-family: var(--sans-serif);
  border-radius: 8px;
  margin: 0px 8px;
  padding: 8px 8px 11px;
  display: inline-block;
  text-decoration: none;
  color: var(--teal);
  cursor: pointer;
  line-height: 1;
}

.nav-link:hover, .nav-title > h3:hover{
  color: var(--forest-green);
}

.nav-link.active, .nav-link.active:visited, .nav-link.active:active{
  background-color: #07768318;
}

.homepage-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.homepage-text-wrap{
  width: 40%;
  text-align: center;
}

@media (max-width: 950px) {
  .homepage-text-wrap{
    width: 75%;
  }
}

@media (max-width: 768px) {
  .homepage-text-wrap{
    width: 90%;
  }

  h5{
    font-size: 1.15rem;
  }
}

@media (max-width: 570px) {
  .homepage-wrap{
    margin-top: 2rem;
  }
}

/* .section-wrap{
  margin-bottom: 4rem;
} */

.date-divider-wrap{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding: 0 2.5rem 0 1.5rem;
  align-items: baseline;
  box-sizing: border-box;
}

.date-divider-title{
  margin-right: 2rem;
  color: var(--light-forest-green);
  font-size: 2.5rem;
  font-family: "Averia Serif Libre", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 5rem;
}

.date-divider-line{
  flex-grow: 1;
  height: 0;
  border-color: #07768318;
}

.first-section > .date-divider-wrap > .date-divider-title{
  margin-top: 0;
}

.photos-page{
  padding-bottom: 4rem;
}

.photo-grid-wrap{
  position: relative;
}

.photo-grid{
  display: grid;
  gap: 25px;
  padding: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 100px;
  grid-auto-flow: row dense;
}

@media(max-width: 704px){
  .photo-grid{
    display: grid;
    gap: 0.5rem;
    padding: 0.75rem;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    grid-auto-rows: 6rem;
    grid-auto-flow: row dense;
  }
}

@media(max-width: 523px){
  .photo-grid{
    display: grid;
    gap: 0.5rem;
    padding: 0.75rem;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    grid-auto-rows: 5rem;
    grid-auto-flow: row dense;
  }
}

@media(max-width: 420px){
  .photo-grid{
    display: grid;
    gap: 0.5rem;
    padding: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-auto-rows: 4rem;
    grid-auto-flow: row dense;
  }
}

.filter-drawer{
  width: 240px;
  background: var(--forest-green);
  padding: 2rem;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  display: none;
}

.filter-group{
  margin-top: 3rem;
}

.filter-group > h4 p label{
  color: var(--light-beige);
}

.filter-label > p{
  margin-bottom: 0;
}

.filter-wrap{
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  margin-bottom: 1rem;
}

.filter-input{
  margin-right: 8px;
}

.filter-close-x{
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}

.card{
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 1px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.35);
  transition: box-shadow .6s;
  cursor: pointer;
  position: relative;
  max-width: 400px;
}

.card:hover{
  box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.25);
}

.portrait{
  grid-row-end: span 3;
}

.portrait > .thumbnail{
  width: 100%;
}

.landscape{
  grid-row-end: span 2;
}

.landscape > .thumbnail{
  width: 100%;
}

.thumbnail{
  align-self: center;
}

.doc-title-bar{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(30, 74, 87, .85);
  backdrop-filter: blur(2px);
  padding: 12px;
  box-sizing: border-box;
}

.doc-title-bar > small{
  color: var(--light-beige);
  margin: 12px 0;
  font-size: 1.2rem;
  /* font-family: 'cronos-pro-caption', sans-serif; */
}

/* Photo Modal */

.photo-modal-wrap{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  z-index: 100;
}

.photo-modal-overlay{
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  z-index: 20;
  position: fixed;
  cursor: pointer;
}

#close-modal-button{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
}

.photo-modal{
  display: flex;
  border-radius: 4px  0px 0px 4px;
  background: var(--light-beige);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.30);
  position: relative;
  z-index: 100;
  max-height: 95vh;
  max-width: 85%;
  border-radius: 0 4px 4px 0;
}

.photo-modal-is-visible{
  visibility: visible;
}

.photo-modal-is-hidden{
  visibility: hidden;
}

/* flex items have initial setting of min-width: auto, so they don't shrink past the size of their content. Adding min-width: 0 allows item to shrink. Don't fully understand how this works. https://stackoverflow.com/questions/41774646/image-is-not-resizing-in-a-flexbox-layout */

.modal-img-wrap{
  min-width: 0;
  max-height: 80%;
  z-index: 10;
  object-fit: contain;
  /* max-width prevents image from covering up details button at smaller screen sizes */
  max-width: 100%;
  background-color: #f8f1e8;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-modal-img{
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.photo-modal-img-500{
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.modal-image-is-hidden{
  display: none;
}

.modal-image-500-is-hidden{
  visibility: hidden;
  margin: auto;
}

.photo-modal-detail-wrap{
  width: 220px;
  min-width: 240px;
  background: var(--light-beige);
  padding: 30px;  
  transition: padding 0.65s cubic-bezier(.68,.2,.34,1), margin 0.65s cubic-bezier(.68,.2,.34,1);
  z-index: 1;
  margin-left: 0;
  border-radius: 0 4px 4px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  overflow-y: scroll;
  /* height: 100%; */
}

.photo-detail-text-wrap{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.panel-is-closed{
  /* padding: 30px 0; */
  margin-left: -240px;
}

.photo-detail-group{
  margin-bottom: 1.25rem;
}

.photo-detail-group h3{
  margin-bottom: 12px;
}

.photo-person-link{
  display: block;
}

.photo-person-no-link{
  color: var(--light-forest-green);
  font-size: 1.25rem;
  margin-bottom: 16px;
  line-height: 1;
}

.photo-modal-expand-collapse-btn{
  position: absolute;
  transform: rotate(90deg);
  transform-origin: 100% 0;
  right: -38px;
  top: 50%;
  font-family: var(--sans-serif);
  
  padding: 10px 8px;
  border-radius: 2px 2px 0px 0px;
  background: var(--golden, #F6BB5B);
  z-index: 0;

  color: var(--dark-forest-green, #112A31);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  border: none;
  cursor: pointer;
}

.people-cards-wrap{
  display: grid;
  gap: 25px;
  padding: 40px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.person-card{
  padding: 1rem;
  background-color: var(--light-beige);
  border-radius: 4px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.3s;
}

.person-card:hover{
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
}

.person-card-name{
  width: 100%;
  margin-bottom: 0px;
  margin-top: 16px;
  box-sizing: border-box;
}

.person-card-photo{
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: top;
  border-radius: 2px;
}

.person-card-link{
  text-decoration: none;
  border-bottom: none;
  width: 100%;
  margin-bottom: 0px;
  display: block;
}

.person-card-link:hover{
  background-color: transparent;
}

@media (max-width: 704px) {
  .people-cards-wrap{
    gap: .75rem;
    padding: .75rem;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  }

  .person-card{
    padding: 0;
  }

  .person-card-name{
    padding: 0 1rem 1rem 1rem;
  }
}

@media (max-width: 375px) {
  .people-cards-wrap{
    grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
  }

  .person-card{
    padding: 0;
  }

  .person-card-name{
    padding: 0 .75rem .75rem .75rem;
    margin-top: .75rem;
    line-height: 1.15;
  }
}

.next-prev-button-position-wrap{
  position: fixed;
  bottom: 12px;
  z-index: 100;
  display: flex;
  justify-content: center;
  width: 100%;
}

.next-prev-button-bg-wrap{
  border-radius: 45px;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.25);
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(10px);
}

#prev-photo-button, #next-photo-button{
  color: var(--light-beige);
  border: none;
  border-radius: 40px;
  font-weight: 600;
  font-size: 20px;
  padding: 17px 18px 14px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15);
  transition: background-color .25s;
}

:is(#prev-photo-button, #next-photo-button):hover{
  background-color: rgba(255, 255, 255, 0.25);
}

:is(#prev-photo-button, #next-photo-button) > img{
  width: 18px;
}

#prev-photo-button{
  margin-right: 10px;
}

:is(#prev-photo-button, #next-photo-button):disabled{
  opacity: .5;
}

:is(#prev-photo-button, #next-photo-button):disabled:hover{
  background-color: rgba(255, 255, 255, 0.15);
  cursor: default;
}


.profile-photo-wrap{
  width: 450px;
  margin-right: 60px;
  flex-shrink: 0;
}

.profile-photo{
  width: 100%;
}

.profile-wrap{
  display: flex;
  margin: 0 65px;
  max-width: 95%;
}

.profile-divider{
  max-width: 90%;
}

@media(max-width: 1044px){
  .profile-wrap{
    margin: 0 25px;
  }

  .profile-details{
    flex-shrink: 2;
  }

  .profile-photo-wrap{
    flex-shrink: 1;
    margin-right: 45px;
  }
}

@media(max-width: 768px){
  .profile-wrap{
    margin: 0 20px;
    flex-wrap: wrap;
  }

  .photo-modal-wrap{
    align-items: baseline;
    overflow-y: scroll;
  }

  .photo-modal{
    max-width: 100%;
    width: 100%;
    overflow-y: scroll;
    max-height: unset;
    flex-direction: column;
    justify-content: center;
  }

  .photo-modal-expand-collapse-btn{
    display: none;
  }

  .photo-modal-detail-wrap{
    width: 100%;
    padding-bottom: 8rem;
    overflow-y: visible;
  }

  .photo-detail-text-wrap{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .modal-img-wrap{
    width: 100%;
  }
}


.profile-details{
  flex-grow: 1;
}

.relationships{
  display: flex;
  flex-wrap: wrap;
}

.parents-wrap, .siblings-wrap, .spouse-wrap, .children-wrap{
  width: 180px;
  padding-right: 25px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

@media(max-width: 1044px){
  .parents-wrap, .siblings-wrap, .spouse-wrap, .children-wrap{
    width: 168px;
    padding-right: 20px;
  }
}

@media(max-width: 425px){
  .parents-wrap, .siblings-wrap, .spouse-wrap, .children-wrap{
    width: 50%;
    padding-right: 20px;
  }
}

.all-photos-link{
  display: block;
}

.birth{
  border-radius: 2px;
  background: var(--golden, #F6BB5B);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25) inset;
  padding: 0 10px 4px;
  width: max-content;
  font-family: var(--sans-serif);
  color: var(--dark-forest-green);
  font-size: 16px;
  font-weight: 700;
}

